<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coffeeApp.mapper.FavoriteMapper">

    <!-- お気に入りを追加 -->
    <insert id="insertFavorite">
        INSERT INTO favorites (user_mail_address, recipe_id, favorited_at)
        VALUES (#{userMailAddress}, #{recipeId}, NOW())
    </insert>

    <!-- お気に入りを削除 -->
    <delete id="deleteFavorite">
        DELETE FROM favorites
        WHERE user_mail_address = #{userMailAddress} AND recipe_id = #{recipeId}
    </delete>
    
    <!-- レシピに紐づくお気に入りを削除 -->
    <delete id="deleteFavoritesByRecipeId" parameterType="int">
        DELETE FROM favorites
        WHERE recipe_id = #{recipeId}
    </delete>

</mapper>